.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
ul,
li {
    margin: 0; padding: 0;
}
body {
    font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    background-color: #282c34;
}
button,
input,
code {
    display: inline-block; outline: none; font: inherit; border: none; background: #FDE991; padding: 0;
}
button {
    color: #C7433E; cursor: pointer;
}
input {
    width: 50px;
}

#viewport {
    display: flex;
    justify-content: center;
}
#viewport .stack {
    width: 90vw;
    max-width: 350px;
    height: 90vh;
    height: calc(90vh - var(--vh-offset, 0px));
    max-height: 800px;
    top: 4.45vh;
    margin: 2px;
    position: absolute;
    background-size: 'cover';
    background-color: #ddd;
    border-radius: 10px;
}
#viewport .card {
    overflow: hidden;
    width: 90vw;
    max-width: 350px;
    height: 90vh;
    height: calc(90vh - var(--vh-offset, 0px));
    max-height: 800px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    text-align: center;
    box-sizing: border-box;
    cursor: default;
}

#viewport img {
  pointer-events: none;
}

.contra {
  color: #f8a;
}
.top a {
    color: #fff;
}
.top a:link, .top a:visited, .top a:hover, .top a:active {
    color: #fff;
}
.top {
  color: #fff;
  text-shadow: 1px 1px #000;
}


#viewport .in-deck:nth-child(3) {
    top: 2px; transform: translate(2px, 2px) rotate(0.4deg);
}
#viewport .in-deck:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
}
.control {
    text-align: center; font-size: 0; margin: 20px;
}
.control button {
    background: #FFFFFF; color: #373737; font-weight: bold; border: none; font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; margin: 0 5px; padding: 10px 15px; cursor: pointer; box-shadow: 0 2px 0 #63211F; outline: none; position: relative;
}
.control button:active {
    background: #63211F; color: #FFFFFF; bottom: -2px; box-shadow: none;
}
.source {
    width: 500px; margin: 20px auto;
}
.source a {
    color: #C7433E;
}

.lity-close {
    display: none;
}